/* General */
* {
  box-sizing: border-box;
} 

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/*Home */
.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.home-main {
  text-align: center;
  padding: 2rem;
  background-color: #f4f4f4;
  color: #333;
}

/* Navbar */
.navbar {
  background-color: #333;
  padding: 1rem;
}

.navbar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.navbar-menu li {
  display: inline;
}

.navbar-menu a {
  color: white;
  padding: 0.75rem 1.5rem;
  transition: background-color 0.3s ease;
}

.navbar-menu a:hover {
  background-color: #555;
  border-radius: 4px;
}

/* Footer */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

.footer p {
  margin: 0;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0 0;
  display: flex;
  justify-content: center;
}

.footer-links li {
  margin: 0 1rem;
}

.footer-links a {
  color: white;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #ccc;
}

/*Card evento */
.event-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  background-color: #fff;
  transition: transform 0.2s;
}

.event-card:hover {
  transform: scale(1.02);
}

.event-image {
  width: 100%;
  height: 200px; 
  object-fit: cover; 
}

.event-details {
  padding: 15px;
}

.event-name {
  font-size: 1.5rem;
  margin: 0 0 10px;
  color: #333;
  text-align: start;
}

.event-date,
.event-description,
.event-place,
.event-minimum-age,
.event-organizer,
.event-attendees {
  margin: 5px 0;
  color: #666;
  text-align: start;
}

/* Login */
.login-container {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.input-field {
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.login-button {
  padding: 0.8rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

/* Media queries */
@media (max-width: 480px) {
  .login-form {
      margin: 20px auto;
      padding: 10px;
  }

  .login-form button {
      font-size: 14px;
  }
} 

@media (max-width: 600px) {
  .login-container {
    padding: 1rem;
    width: 90%;
  }

  .input-field {
    font-size: 0.9rem;
  }

  .login-button {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .login-form {
      padding: 15px;
      width: 95%;
  }

  .login-form input, .login-form button {
      font-size: 16px;
      padding: 12px;
  }
}

@media (max-width: 600px) {
  .event-card {
    margin: 10px;
  }

  .event-name {
    font-size: 1.2rem;
  }

  .event-image {
    height: 150px; 
  }
}

@media (max-width: 768px) {
  .navbar-menu {
    flex-direction: column;
    align-items: center;
  }

  .navbar-menu li {
    margin-bottom: 0.5rem;
  }

  .home-header h1 {
    font-size: 2rem;
  }

  .home-header p {
    font-size: 1rem;
  }

  .footer-links {
    flex-direction: column;
  }

  .footer-links li {
    margin: 0.5rem 0;
  }
}